<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingBaseball">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBaseball" aria-expanded="false" aria-controls="collapseBaseball">
             Baseball
            </button>
        </h2>
        <div id="collapseBaseball" class="accordion-collapse collapse" aria-labelledby="headingBaseball" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Baseball cards.
            </div>
        </div>
    </div>
</li>