<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingHockey">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHockey" aria-expanded="false" aria-controls="collapseHockey">
                Hockey
            </button>
        </h2>
        <div id="collapseHockey" class="accordion-collapse collapse" aria-labelledby="headingHockey" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Hockey cards.
            </div>
        </div>
    </div>
</li>