<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingMagic">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMagic" aria-expanded="false" aria-controls="collapseMagic">
                Magic
            </button>
        </h2>
        <div id="collapseMagic" class="accordion-collapse collapse" aria-labelledby="headingMagic" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Magic cards.
            </div>
        </div>
    </div>
</li>