<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingMisc-Sport">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMisc-Sport" aria-expanded="false" aria-controls="collapseMisc-Sport">
                Misc-Sport
            </button>
        </h2>
        <div id="collapseMisc-Sport" class="accordion-collapse collapse" aria-labelledby="headingMisc-Sport" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Misc-Sport cards.
            </div>
        </div>
    </div>
</li>