<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingMulti-Sport">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMulti-Sport" aria-expanded="false" aria-controls="collapseMulti-Sport">
                Multi-Sport
            </button>
        </h2>
        <div id="collapseMulti-Sport" class="accordion-collapse collapse" aria-labelledby="headingMulti-Sport" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Multi-Sport cards.
            </div>
        </div>
    </div>
</li>