<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingNon-Sport">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNon-Sport" aria-expanded="false" aria-controls="collapseNon-Sport">
                Non-Sport
            </button>
        </h2>
        <div id="collapseNon-Sport" class="accordion-collapse collapse" aria-labelledby="headingNon-Sport" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Non-Sport cards.
            </div>
        </div>
    </div>
</li>