<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOther">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
                Other
            </button>
        </h2>
        <div id="collapseOther" class="accordion-collapse collapse" aria-labelledby="headingOther" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Other cards.
            </div>
        </div>
    </div>
</li>