<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingPokemon">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePokemon" aria-expanded="false" aria-controls="collapsePokemon">
                Pokemon
            </button>
        </h2>
        <div id="collapsePokemon" class="accordion-collapse collapse" aria-labelledby="headingPokemon" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Pokemon cards.
            </div>
        </div>
    </div>
</li>