<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingRacing">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRacing" aria-expanded="false" aria-controls="collapseRacing">
                Racing
            </button>
        </h2>
        <div id="collapseRacing" class="accordion-collapse collapse" aria-labelledby="headingRacing" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Racing cards.
            </div>
        </div>
    </div>
</li>