<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFootball">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFootball" aria-expanded="false" aria-controls="collapseFootball">
                Football
            </button>
        </h2>
        <div id="collapseFootball" class="accordion-collapse collapse" aria-labelledby="headingFootball" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for Football cards.
            </div>
        </div>
    </div>
</li>