<li class="list-group-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingYuGiOh">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseYuGiOh" aria-expanded="false" aria-controls="collapseYuGiOh">
                YuGiOh
            </button>
        </h2>
        <div id="collapseYuGiOh" class="accordion-collapse collapse" aria-labelledby="headingYuGiOh" data-bs-parent="#cardMenuAccordion">
            <div class="accordion-body">
                Content for YuGiOh cards.
            </div>
        </div>
    </div>
</li>